<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link
      rel="stylesheet"
      type="text/css"
      href="assets/competition/css/main.css"
    />
    <link rel="stylesheet" type="text/css" href="css/cursor.css" />
    <script src="js/cursor.js" defer></script>
    <title>Wissenaire'23 | Competitions</title>

    <script
      src="https://code.jquery.com/jquery-3.6.2.min.js"
      integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA="
      crossorigin="anonymous"
    ></script>

    <link href="assets/workshop/img/favicon.png" rel="icon" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//fonts.googleapis.com/css?family=Oswald"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,500,800"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"
    />

    <style>
      * {
        box-sizing: border-box;
      }

      body {
        overflow: hidden;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        font-family: "Montserrat", sans-serif;
      }

      .btn-grp {
        display: flex;
        flex-direction: row;
      }

      .btn-item {
        margin-right: 35px;
      }

      .next-prev-grp {
        display: flex;
        flex-direction: row;
        /* margin-bottom: -50px; */
        margin-top: 120px;
      }

      @media screen and (min-width: 770px) {
        .next-prev-grp {
          display: none;
        }
      }

      .next-prev-item {
        margin-left: 35px;
      }

      .next-prev-item .button {
        padding: 0.5em 0.5em;
      }
    </style>
  </head>

  <body class="box custom-cursor">
    <%- include('../partials/navBar.ejs') %>
    <!-- Slider Wrapper -->
    <div class="css-slider-wrapper" id="ss">
      <input
        type="radio"
        name="slider"
        class="slide-radio1"
        checked
        id="slider_1"
      />
      <input type="radio" name="slider" class="slide-radio2" id="slider_2" />
      <input type="radio" name="slider" class="slide-radio3" id="slider_3" />
      <input type="radio" name="slider" class="slide-radio4" id="slider_4" />
      <input type="radio" name="slider" class="slide-radio5" id="slider_5" />
      <input type="radio" name="slider" class="slide-radio6" id="slider_6" />
      <input type="radio" name="slider" class="slide-radio7" id="slider_7" />
      <input type="radio" name="slider" class="slide-radio8" id="slider_8" />
      <input type="radio" name="slider" class="slide-radio9" id="slider_9" />
      <input type="radio" name="slider" class="slide-radio10" id="slider_10" />
      <input type="radio" name="slider" class="slide-radio11" id="slider_11" />
      <input type="radio" name="slider" class="slide-radio12" id="slider_12" />
      <input type="radio" name="slider" class="slide-radio13" id="slider_13" />
      <input type="radio" name="slider" class="slide-radio14" id="slider_14" />
      <input type="radio" name="slider" class="slide-radio15" id="slider_15" />
      <input type="radio" name="slider" class="slide-radio16" id="slider_16" />
      <input type="radio" name="slider" class="slide-radio17" id="slider_17" />
      <input type="radio" name="slider" class="slide-radio18" id="slider_18" />
      <input type="radio" name="slider" class="slide-radio19" id="slider_19" />
      <input type="radio" name="slider" class="slide-radio20" id="slider_20" />
      <input type="radio" name="slider" class="slide-radio21" id="slider_21" />
      <input type="radio" name="slider" class="slide-radio22" id="slider_22" />
      <input type="radio" name="slider" class="slide-radio23" id="slider_23" />
      <input type="radio" name="slider" class="slide-radio24" id="slider_24" />
      <input type="radio" name="slider" class="slide-radio25" id="slider_25" />
      <input type="radio" name="slider" class="slide-radio26" id="slider_26" />

      <!-- Slider Pagination -->
      <div class="slider-pagination">
        <label for="slider_1" class="page1"></label>
        <label for="slider_2" class="page2"></label>
        <label for="slider_3" class="page3"></label>
        <label for="slider_4" class="page4"></label>
        <label for="slider_5" class="page5"></label>
        <label for="slider_6" class="page6"></label>
        <label for="slider_7" class="page7"></label>
        <label for="slider_8" class="page8"></label>
        <label for="slider_9" class="page9"></label>
        <label for="slider_10" class="page10"></label>
        <label for="slider_11" class="page11"></label>
        <label for="slider_12" class="page12"></label>
        <label for="slider_13" class="page13"></label>
        <label for="slider_14" class="page14"></label>
        <label for="slider_15" class="page15"></label>
        <label for="slider_16" class="page16"></label>
        <label for="slider_17" class="page17"></label>
        <label for="slider_18" class="page18"></label>
        <label for="slider_19" class="page19"></label>
        <label for="slider_20" class="page20"></label>
        <label for="slider_21" class="page21"></label>
        <label for="slider_22" class="page22"></label>
        <label for="slider_23" class="page23"></label>
        <label for="slider_24" class="page24"></label>
        <label for="slider_25" class="page25"></label>
        <label for="slider_26" class="page26"></label>
      </div>

      <!-- Slider #1 -->
      <div class="slider slide-1" id="s1">
        <img src="assets/competition/img/school champ.png" alt="" />
        <div class="slider-content" style="margin: 2%">
          <section>
            <h2>SCHOOL CHAMP</h2>
            <h4>
              “Education is not learning of facts but training the mind to
              think” Wissenaire’23 provides an eminent platform to all the young
              minds out there brimming with enthusiasm. With the prime motive of
              nurturing cognitive skills and wide exposure to school students,
              here comes the School Champ with its 4 rounds. Grab this
              opportunity bestowed on you!!
            </h4>
          </section>
          <!-- <button type="button" class="buy-now-btn" name="button"></button> -->
          <section>
            <%- include('../partials/button', {link:
            'https://payments.cashfree.com/forms/schoolchamp' , pdfLink:
            'https://drive.google.com/file/d/1Jv5fjckl2CwS5y2sxAzd4vo8Bu9tHL1G/view?usp=share_link' }) %> <%-
            include('../partials/competition/next-prev-buttons', {page: 1}) %>
          </section>
        </div>
        <div class="number-pagination">
          <span>1</span>
        </div>
      </div>

      <!-- Slider #2 -->
      <div class="slider slide-2" id="s2">
        <img src="assets/competition/img/truss the frame.png" alt="" />
        <div class="slider-content">
          <section>
            <h2>TRUSS THE FRAME</h2>
            <h4>
              “Everything begins with an idea” – Earl Nightingale. Wissenaire
              provides you the greatest platform to express your innovative
              ideas. A truss is an assembly of members such as beams, connected
              by nodes, that creates a rigid structure. In engineering, a
              structural member is usually fabricated from straight pieces of
              metal or timber to form a series of triangles lying in a single
              plane. In this participant have to build a truss bridge with the
              material provided.
            </h4>
          </section>
          <!-- <button type="button" class="buy-now-btn" name="button"></button> -->
          <section>
            <%- include('../partials/button', {link:
            'https://payments.cashfree.com/forms/trusstheframe' , pdfLink:
            'https://drive.google.com/file/d/11Lj2qQ3fg9TuE1xpSWoBNOZOcXZTGLlO/view?usp=share_link' }) %> <%-
            include('../partials/competition/next-prev-buttons', {page: 2}) %>
          </section>
        </div>
        <div class="number-pagination">
          <span>2</span>
        </div>
      </div>

      <!-- Slider #3 -->
      <div class="slider slide-3" id="s3">
        <img src="assets/competition/img/shutter.png" alt="" />
        <div class="slider-content">
          <section>
            <h2>SHUTTER</h2>
            <h4>
              Have you ever captured a good photo…? “A good snapshot keeps a
              moment from running away”. - Eudora Welty Wissenaire’23 provides
              all the photographers out there a platform to prove themselves.
            </h4>
          </section>
          <!-- <button type="button" class="buy-now-btn" name="button"></button> -->
          <section>
            <%- include('../partials/button', {link:
            'https://payments.cashfree.com/forms/shutter' , pdfLink:
            'https://drive.google.com/file/d/1RwoZqfjEAaIPCJYECEhgdHECfAHSj9nP/view?usp=share_link' }) %> <%-
            include('../partials/competition/next-prev-buttons', {page: 3}) %>
          </section>
        </div>
        <div class="number-pagination">
          <span>3</span>
        </div>
      </div>

      <!-- Slider #4 -->
      <div class="slider slide-4" id="s4">
        <!-- <img src="assets/competition/img/Sciencetoon1.jpg" alt="" /> -->
        <div class="slider-content">
          <section>
            <h2>SCIENTOONS</h2>
            <h4>
              Do you want to express your scientific knowledge in the form of
              cartoons? Excited! Then you have come to the right place. Nowadays
              in social media the “MEMES” are very popular. Here you can show
              some creativity. Scientoons are cartoons/memes that provide
              scientific knowledge in a humorous way.
            </h4>
          </section>
          <!-- <button type="button" class="buy-now-btn" name="button"></button> -->
          <section>
            <%- include('../partials/button', {link:
            'https://payments.cashfree.com/forms/scientoons' , pdfLink:
            'https://drive.google.com/file/d/19miqCtkmcvN_AzFkGA2Jvo6BkNZ9PnNv/view?usp=share_link' }) %> <%-
            include('../partials/competition/next-prev-buttons', {page: 4}) %>
          </section>
        </div>
        <div class="number-pagination">
          <span>4</span>
        </div>
      </div>

      <!-- Slider #5 -->
      <div class="slider slide-5" id="s5">
        <img src="./assets/competition/img/maths olympiad.png" alt="" />
        <div class="slider-content">
          <section>
            <h2>MATHS OLYMPIAD</h2>
            <h4>
              “Mathematics is not a careful march down a well cleared highway,
              but a strange wilderness, where explorers often get lost. Rigour
              should be a signal to the historian that the maps have been made
              and the real explorers have gone elsewhere”. And here is your
              expedition, your maps are the ways in which you approach the
              solution which is the hidden treasure. So, grab this opportunity
              of becoming the explorers you wanted to be by participating in
              this “Maths Olympiad”.
            </h4>
          </section>
          <!-- <button type="button" class="buy-now-btn" name="button"></button> -->
          <section>
            <%- include('../partials/button', {link:
            'https://payments.cashfree.com/forms/mathsolympiad' , pdfLink:
            'https://drive.google.com/file/d/1Yav8DUuuyVnknNzPR1w9-B6d5bESNMU0/view?usp=share_link' }) %> <%-
            include('../partials/competition/next-prev-buttons', {page: 5}) %>
          </section>
        </div>
        <div class="number-pagination">
          <span>5</span>
        </div>
      </div>

      <!-- Slider #6 -->
      <div class="slider slide-6" id="s6">
        <img src="assets/competition/img/archimedes dunk.png" alt="" />
        <div class="slider-content">
          <section>
            <h2>ARCHIMEDES DUNK</h2>
            <h4>
              “Any object immersed in a fluid is acted upon by an upward, or
              buoyant force equal to the weight of the fluid displaced by the
              object”. ~ Archimedes principle. We welcome all civil engineering
              enthusiasts to “Archimedes Dunk”. Participants in this competition
              get the chance to use their civil engineering knowledge and skills
              in real-world situations. The capacity to create an object that
              can float on water is tested in this competition.
            </h4>
          </section>
          <!-- <button type="button" class="buy-now-btn" name="button"></button> -->
          <section>
            <%- include('../partials/button', {link:
            'https://payments.cashfree.com/forms/archimedesdunk' , pdfLink:
            'https://drive.google.com/file/d/1DnR_swQvEJLLN7Dm95IdCPfuckW9jFgJ/view?usp=share_link' }) %> <%-
            include('../partials/competition/next-prev-buttons', {page: 6}) %>
          </section>
        </div>
        <div class="number-pagination">
          <span>6</span>
        </div>
      </div>

      <!-- Slider #7 -->
      <div class="slider slide-7" id="s7">
        <img src="assets/competition/img/quizzare.png" alt="" />
        <div class="slider-content">
          <section>
            <h2>QUIZZARE</h2>
            <h4>
              Are you someone looking for a bit of quizzing to make your day!
              Well Wissenaire'23 presents you Quizzaire with different rounds on
              various technical domains!!! Hold on and get ready to dive in the
              world of quizzing!!!
            </h4>
          </section>
          <!-- <button type="button" class="buy-now-btn" name="button"></button> -->
          <section>
            <%- include('../partials/button', {link:
            'https://payments.cashfree.com/forms/quizzaire' , pdfLink:
            'https://drive.google.com/file/d/1NjJFjBYjR3HNsirqgf1-MZy_ktumKUge/view?usp=share_link' }) %> <%-
            include('../partials/competition/next-prev-buttons', {page: 7}) %>
          </section>
        </div>
        <div class="number-pagination">
          <span>7</span>
        </div>
      </div>

      <!-- Slider #8 -->
      <div class="slider slide-8" id="s8">
        <img src="assets/competition/img/mechanical colloquia.png" alt="" />
        <div class="slider-content">
          <section>
            <h2>MECHANICAL COLLOQUIA</h2>
            <h4>
              “Mechanical Engineers are the movers of the world” . We welcome
              all the mechanical engineers out there to come show us what you
              got with your presentation skills. domains.
            </h4>
          </section>
          <!-- <button type="button" class="buy-now-btn" name="button"></button> -->
          <section>
            <%- include('../partials/button' , {link:
            'https://payments.cashfree.com/forms/mechco' , pdfLink: 'https://drive.google.com/file/d/1QUQnr_up9w2nXDq2Fjv_Gfio7ZtZo2Ka/view?usp=share_link' }) %>
            <%- include('../partials/competition/next-prev-buttons', {page: 8})
            %>
          </section>
        </div>
        <div class="number-pagination">
          <span>8</span>
        </div>
      </div>

      <!-- Slider #9 -->
      <div class="slider slide-9" id="s9">
        <img src="assets/competition/img/memory challenge.png" alt="" />
        <div class="slider-content">
          <section>
            <h2>MEMORY CHALLENGE</h2>
            <h4>
              A simple-to-use yet extremely effective tool for training and
              testing visual memory skills is Memory Challenge! It is beneficial
              for people of all ages and skill levels due to its introductory
              through intermediate levels of complexity. This event helps the
              participants to memorize the things and discuss among the
              team-mates to come up with the answer. All in all, this event
              would be great fun playing with friends.
            </h4>
          </section>
          <!-- <button type="button" class="buy-now-btn" name="button"></button> -->
          <section>
            <%- include('../partials/button', {link:
            'https://payments.cashfree.com/forms/memorychallenge' , pdfLink:
            'https://drive.google.com/file/d/1Y6uW1N1jIQg9km4k-vFkxMpVqI77R2Xm/view?usp=share_link' }) %> <%-
            include('../partials/competition/next-prev-buttons', {page: 9}) %>
          </section>
        </div>
        <div class="number-pagination">
          <span>9</span>
        </div>
      </div>

      <!-- Slider #10 -->
      <div class="slider slide-10" id="s10">
        <img src="assets/competition/img/Blind coding.png" alt="" />
        <div class="slider-content">
          <section>
            <h2>BLIND CODE</h2>
            <h4>
              Can you drive a car safely without seeing the road? Well, you
              might not if it's a car, but you may if it's a code! You will be
              given a coding challenge and have to solve it, but wait! The
              monitor screen will not be visible to you. So all you can do is
              trust your typing and memorization skills along your way to your
              successful code completion. Usually, this is a terrible idea but
              it makes for a very fun challenge!
            </h4>
          </section>
          <!-- <button type="button" class="buy-now-btn" name="button"></button> -->
          <section>
            <%- include('../partials/button', {link:
            'https://payments.cashfree.com/forms/blindcode' , pdfLink:
            'https://drive.google.com/file/d/1Swh_5eOXyZEwyiDxH6LAEP9NX9uPQQjI/view?usp=share_link' }) %> <%-
            include('../partials/competition/next-prev-buttons', {page: 10}) %>
          </section>
        </div>
        <div class="number-pagination">
          <span>10</span>
        </div>
      </div>

      <!-- Slider #11 -->
      <div class="slider slide-11" id="s11">
        <img src="assets/competition/img/computer cypher.png" alt="" />
        <div class="slider-content">
          <section>
            <h2>COUNTER CYPHER</h2>
            <h4>
              You might have heard the quote: "Sometimes a wrong turn may take
              you to the right destination". Here is your chance to get an
              experience with the unknown. We give you a set of inputs and their
              corresponding outputs code with some hidden key, that you need to
              figure out with the behavior of the code on your given inputs. The
              goal is to find that “Black box”, which can give correct outputs
              corresponding to given inputs.
            </h4>
          </section>
          <!-- <button type="button" class="buy-now-btn" name="button"></button> -->
          <section>
            <%- include('../partials/button', {link:
            'https://payments.cashfree.com/forms/countercypher' , pdfLink:
            'https://drive.google.com/file/d/1f5c2Cb61LAkPlynVm1BbkyBfV4wPl2WP/view?usp=share_link' }) %> <%-
            include('../partials/competition/next-prev-buttons', {page: 11}) %>
          </section>
        </div>
        <div class="number-pagination">
          <span>11</span>
        </div>
      </div>

      <!-- Slider #12 -->
      <div class="slider slide-12" id="s12">
        <img src="assets/competition/img/electrical colloqui.png" alt="" />
        <div class="slider-content">
          <section>
            <h2>COLLOQUIA ELECTRICAL</h2>
            <h4>
              “Electrical engineers do it with greater frequency and less
              resistance”. We welcome all the electrical engineers out there to
              come show us what you got with your presentation skills.
            </h4>
          </section>
          <!-- <button type="button" class="buy-now-btn" name="button"></button> -->
          <section>
            <%- include('../partials/button', {link:
            'https://payments.cashfree.com/forms/eecolloquia' , pdfLink:
            'https://drive.google.com/file/d/1e6uvF2VQYVCeI70ucbuWMxA6SDB1JWLG/view?usp=share_link' }) %> <%-
            include('../partials/competition/next-prev-buttons', {page: 12}) %>
          </section>
        </div>
        <div class="number-pagination">
          <span>12</span>
        </div>
      </div>

      <!-- Slider #13 -->
      <div class="slider slide-13" id="s13">
        <img src="assets/competition/img/civil colloquia.png" alt="" />
        <div class="slider-content">
          <section>
            <h2>COLLOQUIA CIVIL</h2>
            <h4>
              “The best creator next to God is a civil engineer” ~ Adarsh Kumar
              G.S. We welcome all the civil engineers out there to come show us
              what you got with your presentation skills.
            </h4>
          </section>
          <!-- <button type="button" class="buy-now-btn" name="button"></button> -->
          <section>
            <%- include('../partials/button', {link:
            'https://payments.cashfree.com/forms/civilc' , pdfLink:
            'https://drive.google.com/file/d/10-rxKs1E7CRCdMxEgajYjm7Wa2P7TxcX/view?usp=share_link' }) %> <%-
            include('../partials/competition/next-prev-buttons', {page: 13}) %>
          </section>
        </div>
        <div class="number-pagination">
          <span>13</span>
        </div>
      </div>

      <!-- Slider #14 -->
      <div class="slider slide-14" id="s14">
        <img src="assets/competition/img/Auction Wars.png" alt="" />
        <div class="slider-content">
          <section>
            <h2>AUCTION WARS</h2>
            <h4>
              If Marvel and DC superheroes fascinate you then this auction is
              for you! Form the ultimate squad of DC and MARVEL characters by
              participating in an auction and show the competition that you are
              the superhero in managing your money by getting the best
              characters.
            </h4>
          </section>
          <!-- <button type="button" class="buy-now-btn" name="button"></button> -->
          <section>
            <%- include('../partials/button', {link:
              'https://payments.cashfree.com/forms/' , pdfLink:
              'https://drive.google.com/file/d/1r_Smxf0Iw_4pQVRmPxVZZj_wl1MtJEIU/view?usp=share_link' }) %> <%-
              include('../partials/competition/next-prev-buttons', {page: 14}) %>
          </section>
        </div>
        <div class="number-pagination">
          <span>14</span>
        </div>
      </div>

      <!-- Slider #15 -->
      <div class="slider slide-15" id="s15">
        <img src="assets/competition/img/Analysis Aces.png" alt="" />
        <div class="slider-content">
          <section>
            <h2>ANALYSIS ACES</h2>
            <h4>
              Interested in putting your guts and interest on the line for data
              science and finance? Don’t worry. We are here for you with one of
              our most prestigious competitions, “Analysis Aces”. Put your
              talent to good use by using your observational and analytical
              skills.
            </h4>
          </section>
          <!-- <button type="button" class="buy-now-btn" name="button"></button> -->
          <section>
            <%- include('../partials/button', {link:
            'https://payments.cashfree.com/forms/analysisaces' , pdfLink:
            'https://drive.google.com/file/d/18y5ibzk_zLsjJuugP4N3gGyoKi3MGerA/view?usp=share_link' }) %> <%-
            include('../partials/competition/next-prev-buttons', {page: 15}) %>
          </section>
        </div>
        <div class="number-pagination">
          <span>15</span>
        </div>
      </div>

      <!-- Slider #16 -->
      <div class="slider slide-16" id="s16">
        <img src="assets/competition/img/call of duty.png" alt="" />
        <div class="slider-content">
          <section>
            <h2>CALL OF DUTY</h2>
            <h4>
              Showcase your gaming skills and unleash fury with your squad. Do
              your best in the battlefield and win prizes to celebrate your
              victory! Gear up, COD legends, and get ready to compete against
              the top gamers in this tournament because Wissenaire’23, IIT
              BHUBANESWAR is hosting a thrilling gaming tournament with prize
              money.
            </h4>
          </section>
          <!-- <button type="button" class="buy-now-btn" name="button"></button> -->
          <section>
            <%- include('../partials/button', {link:
            'https://payments.cashfree.com/forms/callofdutymobile' , pdfLink:
            'https://drive.google.com/file/d/15umrB8JsmehlsconVlK50aABli9BEZtw/view?usp=share_link' }) %> <%-
            include('../partials/competition/next-prev-buttons', {page: 16}) %>
          </section>
        </div>
        <div class="number-pagination">
          <span>16</span>
        </div>
      </div>

      <!-- Slider #17 -->
      <div class="slider slide-17" id="s17">
        <img src="assets/competition/img/Counterstrike.png" alt="" />
        <div class="slider-content">
          <section>
            <h2>COUNTER-STRIKE</h2>
            <h4>
              Are you a hard core gamer? Does the rattle of guns turn you on?
              Are you up for a real challenge? CS: GO combines precise gunfight
              with tactical use of abilities. Use your game-sense to lead your
              team to the path of victory on its 5v5 plant-defuse matches held
              on various concise maps. Team Wissenaire'23 invites you to compete
              with other kill-hungry players to emerge victorious in its CS: GO
              Tournament. “Let’s have it, lads!”
            </h4>
          </section>
          <!-- <button type="button" class="buy-now-btn" name="button"></button> -->
          <section>
            <%- include('../partials/button', {link:
            'https://payments.cashfree.com/forms/csgo' , pdfLink:
            'https://drive.google.com/file/d/1416oPn5Gg81mgNOGcsw305aj57l4B1xs/view?usp=share_link' }) %> <%-
            include('../partials/competition/next-prev-buttons', {page: 17}) %>
          </section>
        </div>
        <div class="number-pagination">
          <span>17</span>
        </div>
      </div>

      <!-- Slider #18 -->
      <div class="slider slide-18" id="s18">
        <img src="assets/competition/img/Code Hasten.png" alt="" />
        <div class="slider-content">
          <section>
            <h2>CODE HASTEN</h2>
            <h4>
              Are you and your friends from that group interested in competitive
              programming and seeking to advance your knowledge of it? Here’s
              Wissenaire, IIT Bhubaneswar presenting Code Hasten, a programming
              competition where you can join with friends and sharpen your
              abilities together.
            </h4>
          </section>
          <!-- <button type="button" class="buy-now-btn" name="button"></button> -->
          <section>
            <%- include('../partials/button', {link: 'https://www.codechef.com/'
            , pdfLink: 'https://drive.google.com/file/d/19xVUeOqjLilhsd-0kxUl_2OB-7gtC5ON/view?usp=share_link' }) %> <%-
            include('../partials/competition/next-prev-buttons', {page: 18}) %>
          </section>
        </div>
        <div class="number-pagination">
          <span>18</span>
        </div>
      </div>

      <!-- Slider #19 -->
      <div class="slider slide-19" id="s19">
        <img src="assets/competition/img/CS Colloquia.png" alt="" />
        <div class="slider-content">
          <section>
            <h2>CSE COLLOQUIA</h2>
            <h4>
              As rightly stated by Benjamin Franklin, a small idea when given a
              right platform can create wonders in this world. So here we
              present you an opportunity to manifest your ideas before the
              esteemed judges and inquisitive audience at one of the most
              awaited tech-fest of east India - colloquia, the power point
              presentation event of Wissenaire’23. It is a one of the greatest
              platforms that brings together all the talented thinkers around
              the country to present, discuss and develop their skills.
            </h4>
          </section>
          <!-- <button type="button" class="buy-now-btn" name="button"></button> -->
          <section>
            <%- include('../partials/button', {link:
            'https://payments.cashfree.com/forms/cscolloquia' , pdfLink:
            'https://drive.google.com/file/d/1n3ZLbW5c4OCtIkwiCtPCzALQvisin2ji/view?usp=share_link' }) %> <%-
            include('../partials/competition/next-prev-buttons', {page: 19}) %>
          </section>
        </div>
        <div class="number-pagination">
          <span>19</span>
        </div>
      </div>

      <!-- Slider #20 -->
      <div class="slider slide-20" id="s20">
        <img src="assets/competition/img/Hack the Box.png" alt="" />
        <div class="slider-content">
          <section>
            <h2>HACK THE BOX</h2>
            <h4>
              You might have heard the quote: "Sometimes a wrong turn may take
              you to the right destination". Here is your chance to get an
              experience with the unknown. We give you a set of inputs and their
              corresponding outputs code with some hidden key, that you need to
              figure out with the behavior of the code on your given inputs. The
              goal is to find that “Black box”, which can give correct outputs
              corresponding to given inputs.
            </h4>
          </section>
          <!-- <button type="button" class="buy-now-btn" name="button"></button> -->
          <section>
            <%- include('../partials/button', {link:
            'https://payments.cashfree.com/forms/hackthebox' , pdfLink:
            'https://drive.google.com/file/d/1cgGmc56nMzON2DAL_j6ozRxUjazZ15Vl/view?usp=share_link' }) %> <%-
            include('../partials/competition/next-prev-buttons', {page: 20}) %>
          </section>
        </div>
        <div class="number-pagination">
          <span>20</span>
        </div>
      </div>

      <!-- Slider #21 -->
      <div class="slider slide-21" id="s21">
        <img src="assets/competition/img/Madads.png" alt="" />
        <div class="slider-content">
          <section>
            <h2>MAD ADS</h2>
            <h4>
              MAD AD SHOW is an ‘Advertisement Making Competition’ to showcase
              the creativity in marketing products and services. The event's
              objective is to acquaint the students about promotional strategies
              in marketing through advertisements. It comprises humorous and
              conceptual ad presentations by the students. Students will act out
              on various advertisements script and ideas relevant for different
              sectors. The idea behind conducting this event is to provide a
              platform to participants to explore their creativity skills.
            </h4>
          </section>
          <!-- <button type="button" class="buy-now-btn" name="button"></button> -->
          <section>
            <%- include('../partials/button', {link:
            'https://payments.cashfree.com/forms/madads' , pdfLink:
            'https://drive.google.com/file/d/1h6AydgsLDlj8amR27qMHekeFvAbPtzXU/view?usp=share_link' }) %> <%-
            include('../partials/competition/next-prev-buttons', {page: 21}) %>
          </section>
        </div>
        <div class="number-pagination">
          <span>21</span>
        </div>
      </div>

      <!-- Slider #22 -->
      <div class="slider slide-22" id="s22">
        <img src="assets/competition/img/Robowars.png" alt="" />
        <div class="slider-content">
          <section>
            <h2>ROBOWARS</h2>
            <h4>
              Wissenaire'23 present RoboWars, fight to become the ultimate
              RoboWarrior!
            </h4>
            <h4>
              As they battle it out to claim victory in the war of the robots,
              RoboWars is a fantastic opportunity for robotic enthusiasts to
              demonstrate and advance their expertise in robotics. It is the
              battle of life and death.
            </h4>
          </section>
          <!-- <button type="button" class="buy-now-btn" name="button"></button> -->
          <section>
            <%- include('../partials/button', {link:
            'https://payments.cashfree.com/forms/robowars' , pdfLink:
            'https://drive.google.com/file/d/1hJF2aG0IvYFGFsMviIOG7_NRfeJVLiKF/view?usp=share_link' }) %> <%-
            include('../partials/competition/next-prev-buttons', {page: 22}) %>
          </section>
        </div>
        <div class="number-pagination">
          <span>22</span>
        </div>
      </div>

      <!-- Slider #23 -->
      <div class="slider slide-23" id="s23">
        <img src="assets/competition/img/Valorant.png" alt="" />
        <div class="slider-content">
          <section>
            <h2>VALORANT</h2>
            <h4>
              Are you a hardcore gamer? Does the rattle of guns turn you on? Are
              you up for a real challenge? Valorant combines precise gunfight
              with tactical use of abilities. Use your game-sense to lead your
              team to the path of victory on its 5v5 plant-defuse matches held
              on various concise maps. Team Wissenaire’23 invites you to compete
              with other kill-hungry players to emerge victorious in its
              Valorant Tournament. Do you have it in you to “Defy the limits''?
            </h4>
          </section>
          <!-- <button type="button" class="buy-now-btn" name="button"></button> -->
          <section>
            <%- include('../partials/button', {link:
            'https://payments.cashfree.com/forms/valorant' , pdfLink:
            'https://drive.google.com/file/d/1mySrHpp0jokFxXSptwuPk7-EhwC0ox-d/view?usp=share_link' }) %> <%-
            include('../partials/competition/next-prev-buttons', {page: 23}) %>
          </section>
        </div>
        <div class="number-pagination">
          <span>23</span>
        </div>
      </div>

      <!-- Slider #24 -->
      <div class="slider slide-24" id="s24">
        <!-- <img src="assets/competition/img/Analysis Aces.png" alt="" /> -->
        <div class="slider-content">
          <section>
            <h2>TREKON</h2>
            <h4>
              “There is only one rule in the contest, once you’re out of the
              line, you are out! Build an obedient bot whose only aim is to
              follow the line!” Build your own autonomous robot within the
              allotted parameters, and aim for the fastest possible speed to
              outrun other robots on the track and arrive at the objective as
              quickly as possible.
            </h4>
          </section>
          <!-- <button type="button" class="buy-now-btn" name="button"></button> -->
          <section>
            <%- include('../partials/button', {link:
            'https://payments.cashfree.com/forms/trekon' , pdfLink:
            'https://drive.google.com/file/d/1WwQYdAs9l8-j_T4TYpaw9h1kkpaErkCr/view?usp=share_link' }) %> <%-
            include('../partials/competition/next-prev-buttons', {page: 24}) %>
          </section>
        </div>
        <div class="number-pagination">
          <span>24</span>
        </div>
      </div>

      <!-- Slider #25 -->
      <div class="slider slide-25" id="s25">
        <img src="assets/competition/img/roborace.jpg" alt="" />
        <div class="slider-content">
          <section>
            <h2>ROBO RACE</h2>
            <h4>Build It, Run It, Break It, Fix It, REPEAT!</h4>
            <h4>
              Who doesn’t love the adrenaline rush when you are almost at the
              finish line? How much more fun if the bot built by you is running
              on the track, competing to be the best!
            </h4>
            <h4>Wissenaire’23 presents to you Robo-Race.</h4>
          </section>
          <!-- <button type="button" class="buy-now-btn" name="button"></button> -->
          <section>
            <%- include('../partials/button', {link:
            'https://payments.cashfree.com/forms/roborace' , pdfLink:
            'https://drive.google.com/file/d/1z1_OWNgxcFCXSB3wOoXrk_42wcHsZS5C/view?usp=share_link' }) %> <%-
            include('../partials/competition/next-prev-buttons', {page: 25}) %>
          </section>
        </div>
        <div class="number-pagination">
          <span>25</span>
        </div>
      </div>

      <!-- Slider #26 -->
      <div class="slider slide-26" id="s26">
        <img src="assets/competition/img/mazesolver.jpg" alt="" />
        <div class="slider-content">
          <section>
            <h2>MAZE SOLVER</h2>
            <h4>
              Are you racking you brains to come out of mazes? Use your Tech
              skills to build your own Thomas to become the maze runner!
            </h4>
            <h4>
              Build your own autonomous robot within the allotted parameters,
              and aim for the fastest possible speed to outrun other robots on
              the track and arrive at the objective as quickly as possible. The
              challenge is to build a small self-contained autonomous robot
              (Micromouse) to negotiate a maze in the shortest possible time.
            </h4>
          </section>
          <!-- <button type="button" class="buy-now-btn" name="button"></button> -->
          <section>
            <%- include('../partials/button', {link:
            'https://payments.cashfree.com/forms/mazesolver' , pdfLink:
            'https://drive.google.com/file/d/1F3FuvFtSX3hNL_E3q1mqZr2FYCon0hIy/view?usp=share_link' }) %> <%-
            include('../partials/competition/next-prev-buttons', {page: 26}) %>
          </section>
        </div>
        <div class="number-pagination">
          <span>26</span>
        </div>
      </div>
    </div>

    <%- include('../partials/preLoader') %>
    <script>
      let preLoader = document.getElementById("preloader");
      $(window).load(function () {
        preLoader.style.display = "none";
      });
    </script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
      function redirectToLogin() {
        swal({
          title: "Authentication Required",
          text: "You haven't logged into your profile. Kindly login and fill your profile before registration",
          icon: "warning",
          button: "Continue to Login",
          dangerMode: true,
        }).then((button) => {
          if (button) {
            window.location.href = "/auth/google";
          } else {
          }
        });
      }
      function redirectToProfile() {
        swal({
          title: "Profile details required",
          text: "Kindly fill your profile details before registration",
          icon: "warning",
          button: "Continue to Profile",
          dangerMode: true,
        }).then((button) => {
          if (button) {
            window.location.href = "/profile";
          } else {
          }
        });
      }
      function continueToBooking(paymentLink) {
        swal({
          title: "Ready to book your slot",
          text: `Enter the same email address (${"<%=participant.email%>"}) while filling the payment form. Click continue to continue your booking.`,
          icon: "success",
          button: "Continue to booking",
          dangerMode: true,
        }).then((button) => {
          if (button) {
            window.location.href = paymentLink;
          }
        });
      }
    </script>
    <script src="https://unpkg.com/validator@13.7.0/validator.min.js"></script>
    <script src="assets/competition/js/scrolling.js"></script>
    <script src="/js/competition/next-prev-buttons.js"></script>
  </body>
</html>
