<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wissenaire'23 | User Profile</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

     <link rel="stylesheet" type="text/css" href="css/cursor.css" />
     <script src="js/cursor.js" defer></script>

     <link href="assets/exhibits/img/favicon.png" rel="icon" />
     <link href="assets/exhibits/img/apple-touch-icon.png" rel="apple-touch-icon" />
     
    <link rel="stylesheet" href="css/profile.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/boxicons@2.0.7/dist/boxicons.min.js"></script>
    <!-- ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
</head>

<body class="box custom-cursor">
    <%- include('../partials/navBar.ejs') %>
  <div class="main-content">
    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3Kmz4yRQmpBkbqCpdKHwZrR4OvdgCrS54Gg&usqp=CAU); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">Hello <%=participant.name%></h1>
            <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="<%=participant.photo%>" class="rounded-circle">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            </div>
            <div class="card-body pt-0 pt-md-4">
              <!-- <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                      <span class="heading">22</span>
                      <span class="description">Friends</span>
                    </div>
                    <div>
                      <span class="heading">10</span>
                      <span class="description">Photos</span>
                    </div>
                    <div>
                      <span class="heading">89</span>
                      <span class="description">Comments</span>
                    </div>
                  </div>
                </div>
              </div> -->
              <div class="text-center">
                <h3>
                  <%=participant.name%>
                </h3>
                <div class="h5 font-weight-300">
                  <i class="ni location_pin mr-2"></i><%=participant.phoneNumber%>
                </div>
                <div class = "profile_buttons" >
                  <a href="/logout" style="padding: 2vmin;"><i class="fas fa-sign-out-alt"></i></i></a>
                  <a href="/" style="padding: 2vmin;"><i class="fas fa-home"></i></a>
                  <a href="/workshops" style="padding: 2vmin;"><i class="fas fa-chalkboard-teacher"></i></a>
                  <a href="/competitions" style="padding: 2vmin;"><i class="fas fa-code"></i></a>
                </div>
                <div class="h5 mt-4">
                  <i class="ni business_briefcase-24 mr-2"><%=participant.email%></i>
                </div>
                <div>
                  <i class="ni education_hat mr-2"></i><%=participant.city%>
                </div>
                <hr class="my-4">
                <p><%=participant.institute%> - <%=participant.branch%>,<%=participant.year%></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">My account</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form>
                <h6 class="heading-small text-muted mb-4">College information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-username">Institute Name</label>
                        <% if (participant.institute ) { %>
                        <input type="text" id="input-username" class="form-control form-control-alternative" value="<%=participant.institute%>" name = "institute" required>
                        <%} else {%>
                        <input type="text" id="input-username" class="form-control form-control-alternative" name = "institute" required>
                        <%}%>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Branch</label>
                        <% if (participant.branch ) { %>
                        <input type="email" id="input-email" class="form-control form-control-alternative" value="<%= participant.branch%>"  name = "branch" required>
                        <%} else {%>
                        <input type="email" id="input-email" class="form-control form-control-alternative" name = "branch" required>
                        <%}%>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-first-name">Year</label>
                        <% if (participant.year ) { %>
                        <input type="text" id="input-first-name" class="form-control form-control-alternative" value="<%= participant.year %>" name = "year" required>
                        <%} else {%>
                        <input type="text" id="input-first-name" class="form-control form-control-alternative" name = "year" required>
                        <%}%>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-last-name">City</label>
                        <% if (participant.city ) { %>
                        <input type="text" id="input-last-name" class="form-control form-control-alternative" value="<%= participant.city%>" name = "city" required>
                          <%} else {%>
                        <input type="text" id="input-last-name" class="form-control form-control-alternative" name = "city" required>
                        <%}%>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4">
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Contact information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-address">Phone Number</label>
                        <% if (participant.phoneNumber ) { %>
                        <input id="input-address" class="form-control form-control-alternative" value="<%= participant.phoneNumber%>" name = "phoneNumber" type="text" required>
                        <%} else {%>
                        <input id="input-address" class="form-control form-control-alternative" name = "phoneNumber" type="text" required>
                        <%}%>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-country">Reference ID of CA (if any)</label>
                        <% if (participant.caref ) { %>
                        <input type="text" id="input-country" class="form-control form-control-alternative" value="<%= participant.caref %>" name="caref">
                        <%} else {%>
                          <input type="text" id="input-country" class="form-control form-control-alternative" name="caref">
                        <% }%>
                        </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4">
                <div class="col-lg-7 col-md-10">
                  <a id="submitBtn" class="btn btn-info">Submit</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('../partials/preLoader') %>
  <script>
    let preLoader = document.getElementById('preloader')
    $(window).load(function(){
      preLoader.style.display='none';
    })
  </script>
  <script src="https://unpkg.com/validator@13.7.0/validator.min.js"></script>
  <script src="/js/profile/validate-profile.js"></script>
  <script>
    $("#submitBtn").click(function() {
      var form = $("form");
      var data = form.serialize();
      console.log(data);
      var errors = validateProfileForm(form);
      if (errors.length > 0) {
        swal("Invalid form data", errors.join(","), "error");
        return;
      }

      console.log('ok');
      $.ajax({
          type: "POST",
          url: '/updateProfile',
          data: form.serialize(), 
          success: function(result)
          {
              if(result){
                      new swal({
                          title: 'Success',
                          text: 'Welcome to Wissenaire family !',
                          icon: 'success'
                      }).then(flag => {
                        if(flag) {
                          window.location.href='/profile';
                        }
                      });
                  }
                  else{
                      new swal({
                          title: 'Error',
                          text: 'Please try again',
                          icon: 'error'
                      });
                }
          }
          });
      });
</script>
</body>
</html>